p {
    width: auto;
    height: 40px;
    padding: 10px 65px;
    background: #50C878;
    color: white;
    line-height: 20px;
    overflow: hidden;
    font-size: 1.3em;
}

div.row {
    margin-left: 50px;
    margin-right: 0px;
}

em {
    float: right;
}

ul.list-issue {
    margin-left: -20px;
}

a.issue-title {
    text-decoration: none;
    color: black;
}

.home-icon {
    background: #50C878;
    border-color: #50C878;
    color: white;
}

.btn-success {
    background-color: #50C878;
    border-color: #50C878;
}

.btn-success:hover {
    background-color: #50C878;
    border-color: #50C878;
}

.btn-success:focus {
    background-color: #50C878;
    border-color: #50C878;
}

.btn-success.active:focus, .btn-success:active:focus {
    background-color: #50C878;
    border-color: #50C878;
}